.planner-background-image {
  background: url('../img/planner_screenshot.png');
    // background:
    // linear-gradient(to right, rgba(247, 248, 248, 0.5), rgba(246, 246, 248, 0.5)),
    // url(../../img/mountaininclouds.jpg);
  background-repeat: no-repeat;
  height: 100vh;
}

.analyze-background-image {
  background: url('../img/analyze_screenshot.png');
    // background:
    // linear-gradient(to right, rgba(247, 248, 248, 0.5), rgba(246, 246, 248, 0.5)),
    // url(../../img/mountaininclouds.jpg);
  background-repeat: no-repeat;
  height: 100vh;
}

.home-background-image {
  background: url('../img/prototype-copy.png');
    // background:
    // linear-gradient(to right, rgba(247, 248, 248, 0.5), rgba(246, 246, 248, 0.5)),
    // url(../../img/mountaininclouds.jpg);
  background-repeat: no-repeat;
  height: 100vh;
}
