.planner-background-image {
  background: url('../img/planner_screenshot.png');
    // background:
    // linear-gradient(to right, rgba(247, 248, 248, 0.5), rgba(246, 246, 248, 0.5)),
    // url(../../img/mountaininclouds.jpg);
  background-repeat: no-repeat;
  // background-size: cover;
  height: 100vh;
}
