.navbar-dark {
  &-top {
    background-color: #030303;
    border-top: 2px solid #c00;
    padding: 0rem 1rem;
    height: 48px;
  }
  &-subnav {
    height: 33px;
    font-size: .8rem;
    background-color: #292e34;
    border-bottom: 1px solid #030303;
    padding: 0rem 1rem;
  }
  .navbar-nav .nav-link {
    color: #d1d1d1;
    font-size: 14px;
    &-recent {
      width: 250px;
      color: #d1d1d1;
      text-align: left;
    }
  }
}
.nav-item {
  height: 46px;
  min-width: 75px;
  padding-top: 2px;
  text-align: center;
  &.active {
    background-color: #292e34;
    background-image: linear-gradient(180deg, #4d5258 0, #292e34);
    border-bottom: 1px solid #292e34;
  }
  &-subnav-active {
    background-color: transparent;
    a.nav-link {
      /* stylelint-disable */
      color: #0088ce !important;
      /* stylelint-enable */
      border-bottom: 2px solid #0088ce;
      padding: 4px 2px;
    }
  }
  &-recent {
    width: 260px;
  }
}

